* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background : url(./images/—Pngtree—river\ in\ an\ autumn\ forest_3179390.jpg) no-repeat center center/cover     ;
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter : blur(30px)
}

.loading-text {
    font-size: 50px;
    color: #fff;
}